#tools-new, #tools-edit

  textarea
    height: 350px
  .chosen-container
    display: block

  .params
    input[type=checkbox]
      margin-top: 2px
    .edit-options
      margin-left: 10px
    .options
      display: none
      max-width: 400px !important
    th
      height: 22px
    td, th
      text-align: left


#uploader
  font-size: 1.2em
  .uk-form-file
    margin-bottom: 3px

