#!/usr/bin/env puma

app_name = 'qomo'
root = "/home/#{app_name}/#{app_name}/current"

directory root

environment 'production'

workers 4
threads 10, 20

pidfile "#{root}/tmp/server.pid"
state_path "#{root}/tmp/server.state"
bind "unix://#{root}/tmp/server.sock"

stdout_redirect "#{root}/log/stdout", "#{root}/log/stderr"

preload_app!
