# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 661d6f4f163bc5d803c53b13b8e8f6fc608210c47115858d66e71d2601db43d2892f7bdac961df9fa80a9946ac9045b28bf66e7bd7cddae1568cb7ff33e6228c

test:
  secret_key_base: 0f76685ca752cc1d9e1cf55dd12577be454deacc706a8aa1ade570346004cd290e8d60b67501defb4874a3715b892c075d1382db4cf48229c6e60b1bef527705

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
