defaults: &defaults
  home: /home/qomo
  admin:
    username: dotswing
    email: xuxingjian@cbb.big.ac.com
  hdfs:
    host: host1
    user: qomo
    port: 14000
    root: /qomo_<%= Rails.env %>
  job:
    streaming: hadoop-streaming-2.0.0-mr1-cdh4.3.0.jar
    common: qomo-common-0.0.1-SNAPSHOT.jar
  engine:
    url: http://host2:7020/jsonrpc

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
