defaults: &defaults
  home: /var/qomo
  admin:
    username: dotswing
    email: xuxingjian@cbb.big.ac.com
  hdfs:
    host: host1
    user: qomo
    port: 14000
    root: /qomo_<%= Rails.env %>


development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
