#datastore-index
  .qpanel
    .content
      position: relative
      top: 0
  .realm
    float: right
    margin-top: 3px
    display: inline-block
    .dropdown
      width: 60px
  table.files
    td
      line-height: 25px


