body[id^='datastore-']
  .tab-menu-wapper
    padding: 0
    margin-bottom: 12px
    height: 33px
    .menu
      float: left
      border-bottom: 0
    .breadcrumb
      margin-top: 8px
      margin-left: 62px
      a
        color: rgb(85, 85, 85)
    .toolbar
      margin-bottom: 10px
      float: right
      .buttons
        margin-top: 4px

  form
    margin-bottom: 20px

  .qpanel
    .content
      position: relative
      top: 0
  .realm
    float: right
    margin-top: 3px
    display: inline-block
    .dropdown
      width: 60px


  table.files
    a
      color: black
    td
      line-height: 25px
      .file-icon
        margin-right: 0.4em


